<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forgot your password</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
        rel="stylesheet">
    <!-- Main CSS-->
    <link href="/css/main.css" rel="stylesheet" media="all">
    <script>
         function validateLoginForm(form, event) {
            event.preventDefault();
            var result=true;
            if(document.getElementById("emailerror").innerHTML != ""){
                document.getElementById("emailerror").innerHTML = "";
                form.email.style.borderColor = "black";
            }
            if (form.email.value === "") {
                form.email.focus();
                form.email.style.borderColor = "red";
                document.getElementById("emailerror").innerHTML = "please enter email";
                document.getElementById("emailerror").style.color = "red";
                result = false;
            }
            if(!result){
                return result;
            }
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(this.responseText)
                    if (this.responseText == "user not found") {
                        document.getElementById("emailerror").innerHTML = this.responseText.toString()
                        document.getElementById("emailerror").style.color = "red";
                        form.email.style.borderColor = "red";
                        return false;
                    }
                    else {
                        alert("please check your email to reset password");
                        document.location="/"
                    }
                }
            };
            xhttp.open("GET", "http://localhost:8081/sendresetpasswordemail?email=" + form.email.value, true);
            xhttp.send();
            return true;
         }
    </script>
</head>

<body>
    <h2>Reset your password</h2>
    <div class="card-body">
        <h4>Enter your user account's verified email address and we will send you a password reset link.</h4>
        <form method="GET" action="/sendresetpasswordemail" onsubmit="return validateLoginForm(this,event)"> 
            <input class="input--style-6" type="email" name="email" id="email" placeholder="example@email.com">
            <div name="emailerror" id="emailerror"></div>
            <div class="card-footer">
                <button class="btn btn--radius-2 btn--blue-2" type="submit">send reset link</button>
            </div>
        </form>
        
    </div>
</body>

</html>
