doctype html
html(lang="en")
    body
        div(class="wrapper d-flex align-items-stretch")
            include index.html 
            div(id="content")
                block content
        script(src="js/jquery.min.js")
        script(src="js/popper.js")
        script(src="js/bootstrap.min.js")
        script(src="js/main.js")
