doctype html
html(lang="en")
    head
    body
        form(action="/resetpassword", method="post" onsubmit="return validateForm(this,event)")
            input(type="password" name="password" id="password" placeholder="please enter new password")
            input(type="confirm password" name="confirm" id="confirm" placeholder="please confirm new password")
            input(type="hidden" name="token" id="token" value=token)
            input(type="hidden" name="email" id="email" value=email)
            input(type="submit")