<!doctype html>
<html lang="en">

<head>
    <script>
        function validateLoginForm(form, event) {
            event.preventDefault();
            var result = true;
            if (document.getElementById("passworderror").innerHTML != "") {
                document.getElementById("passworderror").innerHTML = "";
                form.password.style.borderColor = "black";
            }
            if (document.getElementById("confirmpassworderror").innerHTML != "") {
                document.getElementById("confirmpassworderror").innerHTML = "";
                form.confirm.style.borderColor = "black";
            }
            if (form.password.value == "") {
                form.password.focus();
                form.password.style.borderColor = "red";
                document.getElementById("passworderror").innerHTML = "please enter email";
                document.getElementById("passworderror").style.color = "red";
                result = false;
            }
            if (form.confirm.value == "") {
                form.confirm.focus();
                form.confirm.style.borderColor = "red";
                document.getElementById("confirmpassworderror").innerHTML = "please enter username";
                document.getElementById("confirmpassworderror").style.color = "red";
                result = false;
            }
            if(form.password.value !== form.confirm.value){
                alert("passwords don't match")
                return false;
            }
            if (!result) {
                return result;
            }
        }
    </script>
</head>

<body>
    <form action="/resetpassword" method="post" onsubmit="return validateForm(this,event)">
        <input type="password" name="password" id="password" placeholder="please enter new password" />
        <div id="passworderror"></div>
        <input type="confirm password" name="confirm" id="confirm" placeholder="please confirm new password" />
        <div id="confirmpassworderror"></div>
        <input type="hidden" name="token" id="token" value=token />
        <input type="hidden" name="email" id="email" value=email />
        <input type="submit"/>
    </form>
</body>