<!doctype html>
<html lang="en">

<head>
    <title>resetpassword</title>
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
        rel="stylesheet">
    <!-- Main CSS-->
    <link href="/css/main.css" rel="stylesheet" media="all">
    <script>
        function validateLoginForm(form, event) {
            event.preventDefault();
            var result = true;
            if (document.getElementById("passworderror").innerHTML != "") {
                document.getElementById("passworderror").innerHTML = "";
                form.password.style.borderColor = "black";
            }
            if (document.getElementById("confirmpassworderror").innerHTML != "") {
                document.getElementById("confirmpassworderror").innerHTML = "";
                form.confirm.style.borderColor = "black";
            }
            if (form.password.value == "") {
                form.password.focus();
                form.password.style.borderColor = "red";
                document.getElementById("passworderror").innerHTML = "please enter email";
                document.getElementById("passworderror").style.color = "red";
                result = false;
            }
            if (form.confirm.value == "") {
                form.confirm.focus();
                form.confirm.style.borderColor = "red";
                document.getElementById("confirmpassworderror").innerHTML = "please enter username";
                document.getElementById("confirmpassworderror").style.color = "red";
                result = false;
            }
            if(form.password.value !== form.confirm.value){
                alert("passwords don't match")
                return false;
            }
            if (!result) {
                return result;
            }
            form.submit()
        }
    </script>
</head>

<body>
    <div class="page-wrapper bg-dark p-t-100 p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <h2 class="title">Reset password</h2>
                </div>
                <div class="card-body">
                    <form action="/resetpassword" method="post" onsubmit="return validateForm(this,event)">
                        <div class="form-row">
                            <div class="name">Password</div>
                            <div class="value">
                                <div class="input-group">
                                    <input type="password" name="password" id="password"
                                        placeholder="please enter new password" />
                                    <div id="passworderror"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Confirm Password</div>
                            <div class="value">
                                <input type="password" name="confirm" id="confirm"
                                    placeholder="please confirm new password" />
                                <div id="confirmpassworderror"></div>
                            </div>
                        </div>
                        <input type="hidden" name="token" id="token" value=<%= token %> />
                        <input type="hidden" name="email" id="email" value=<%= email %> />
                        <div class="card-footer">
                            <button class="btn btn--radius-2 btn--blue-2" type="submit">Reset password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>