extends layout
block content
    div(class="page-wrapper bg-light p-t-100 p-b-50")
        div(class="wrapper wrapper--w900")
            div(class="card card-6")
                div(class="card-heading")
                    h2(class="title") Company Admins
            div(class="card-body")
                table(id="tables")
                    th Name
                    th Company name
                    th Email
                    th Delete
                    for i in result
                        tr
                        td #{i.name}
                        td #{i.companyName}
                        td #{i.email}
                        td 
                            a(href="/router/deletecompanyadmin?adminid="+i.companyAdminId,class="btn btn--radius-2 btn--blue-2") delete
                